<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Carbon Emission</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Demand_petroleum_transportation_mil_lit" placeholder="Petrol Demand" required="required" />
        <input type="text" name="Average_MC/15000_miles(dollars)" placeholder="Average Maintanance Cost" required="required" />
		<input type="text" name="Domestic_EFF" placeholder="Efficiency of Domestic Vehicle" required="required" />
        <input type="text" name="Light_Truck_EFF" placeholder="Efficiency of Light Truck" required="required" />
        <input type="text" name="LDV_SWB_EFF" placeholder="Efficiency of Short-Wheel Vehicle" required="required" />
        <input type="text" name="Passenger_Car_Age" placeholder="Age of Passenger Car" required="required" />
        <input type="text" name="Light_Truck_Age" placeholder="Age of Light Truck" required="required" />
        <input type="text" name="Light_vehicle_Age" placeholder="Age of Light Vehicle" required="required" />
        <input type="text" name="Combination_Truck_road_BTU" placeholder="Energy Consumption by Combination Truck" required="required" />
        <input type="text" name="Railways_BTU" placeholder="Energy Consumption by Railway" required="required" />
        <input type="text" name="Water_BTU" placeholder="Energy Consumption by Water" required="required" />
 
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>

