<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Carbon Emission</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Demand_petroleum_transportation)mil_lit" placeholder="Demand_petroleum_transportation)mil_lit" required="required" />
        <input type="text" name="Average_MC/15000_miles(dollars)" placeholder="Average_MC/15000_miles(dollars)" required="required" />
		<input type="text" name="Domestic_EFF" placeholder="Domestic_EFF" required="required" />
        <input type="text" name="Light_Truck_EFF" placeholder="Light_Truck_EFF" required="required" />
        <input type="text" name="LDV_SWB_EFF" placeholder="LDV_SWB_EFF"  required="required" />
        <input type="text" name="Passenger_Car_Age" placeholder="Passenger_Car_Age" required="required" />
        <input type="text" name="Light_Truck_Age" placeholder="Light_Truck_Age" required="required" />
        <input type="text" name="Light_vehicle_Age" placeholder="Light_vehicle_Age" required="required" />
        <input type="text" name="Combination_Truck_road_BTU" placeholder="Combination_Truck_road_BTU" required="required" />
        <input type="text" name="Railways_BTU" placeholder="Railways_BTU" required="required" />
        <input type="text" name="Water_BTU" placeholder="Water_BTU" required="required" />
 
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>

