<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Carbon Emission</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<label>Petrol Demand: <input type="text" name="Demand_petroleum_transportation)mil_lit" placeholder="Demand_petroleum_transportation)mil_lit" required="required" /></label><br>
    	<br>
	<label>Efficiency of Imported Vehicle: <input type="text" name="Imported_EFF" placeholder="Imported_EFF" required="required" /></label><br>
        <br>
        <label>Efficiency of Passenger Car: <input type="text" name="Passenger_Car_EFF" placeholder="Passenger_Car_EFF" required="required" /></label><br>
        <br>
        <label>Efficiency of Short-Wheel Vehicle: <input type="text" name="LDV_SWB_EFF" placeholder="LDV_SWB_EFF"  required="required" /></label><br>
        <br>
        <label>Efficiency of Light Truck: <input type="text" name="Light_Truck_EFF" placeholder="Light_Truck_EFF"  required="required" /></label><br>
        <br>
        <label>Age of Passenger Car: <input type="text" name="Passenger_Car_Age" placeholder="Passenger_Car_Age" required="required" /></label><br>
        <br>
        <label>Age of Light Vehicle: <input type="text" name="Light_vehicle_Age" placeholder="Light_vehicle_Age" required="required" /></label><br>
        <br>
        <label>Age of Light Truck: <input type="text" name="Light_Truck_Age" placeholder="Light_Truck_Age" required="required" /></label><br>
        <br>
        <label>Energy Consumed by Combination Truck: <input type="text" name="Combination_Truck_road_BTU" placeholder="Combination_Truck_road_BTU" required="required" /></label><br>
        <br>
        <label>Energy Consumed by Jet Aviation: <input type="text" name="Jet Fuel_avi_BTU" placeholder="Jet Fuel_avi_BTU" required="required" /></label><br>
        <br>
        <label>Energy Consumed by Bus: <input type="text" name="Bus_Road_BTU" placeholder="Bus_Road_BTU" required="required" /></label><br>
        <br>
        <label>Energy Consumed by Railway Transport: <input type="text" name="Railways_BTU" placeholder="Railways_BTU" required="required" /></label><br>
        <br>
        <label>Energy Consumed by Gasoline Aviation: <input type="text" name="Gasoline_avi_BTU" placeholder="Gasoline_avi_BTU" required="required" /></label><br>
        <br>
        <label>Energy Consumed by Long-Wheel based Vehicle: <input type="text" name="LDV_LWB_road_BTU" placeholder="LDV_LWB_road_BTU" required="required" /></label><br>
        <br>
        <label>Maintenance Cost: <input type="text" name="Average_MC/15000_miles(dollars)" placeholder="Average_MC/15000_miles(dollars)" required="required" /></label><br>
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}<br>
   {{ range_text }}

 </div>


</body>
</html>

